body {
    background-color:rgb(255, 68, 236);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-align: center;
    color: rgb(255, 204, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
}   

#selectors {
    display: flex;
    gap: 32px;
    justify-content: center;
    padding: 32px;
}

#rstcontainer {
    display: flex;
    justify-content: center;

}

.selectorButton, #resetbtn {
    min-width: 64px;
}

.resultContainer {
    color: rgb(255, 53, 53);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 350px;
    height: 200px;
    border: 2px solid rgb(255, 204, 0);
    background-color: rgb(255, 142, 244);
    padding:16px;
  
}

.scorecontainer {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
    justify-self: flex-end;

}

#result {
    align-self: center;
    padding-top: 70px;
    font-size: 40px;
}

button {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(97, 97, 97);
    border-radius: 0px;
}

button:hover {
    color: rgb(255, 53, 53);
}